nav.priority_navbar {
  position: relative;
  display: flex;
  align-items: center;
}

ul {
  padding: 0px;
  margin: 0px;
}

/* button  */
nav.priority_navbar button {
  align-self: stretch;
  outline: 0;
  border: 0;
}
nav.priority_navbar button.hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* items  */
ul.nav-items {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
  list-style: none;
}

/* hidden items  */
ul.hidden-nav-items {
  position: absolute;
  right: 0;
  top: 100%;
}
ul.hidden-nav-items.hidden {
  display: none;
}
